<div class="navbar">
  <div class="logo-container">
    <img src="../static/images/logo2.png" alt="Arany Fakanál Étterem" class="logo" />
  </div>

  <nav class="nav-links">
    <a href="/">Főoldal</a>
    <a href="/etlap">Étlap</a>
    <a href="/#rolunk">Rólunk</a>
    <a href="/#kapcsolat">Kapcsolat</a>
  </nav>

  <button class="nav-toggle" id="navToggle" title="Menü">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="nav-icons">
    <button class="icon-btn login-btn" title="Profil">
      <i class="fa-regular fa-user"></i>
    </button>
    <button class="icon-btn" onclick="openCart()" title="Kosár">
      <i class="fa-solid fa-bag-shopping"></i>
    </button>
  </div>
</div>
