# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Django
db.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations cache
*.sqlite3-journal